name: publish ndk-pkg core

on:
  workflow_dispatch:

jobs:

  base:
    runs-on: ubuntu-latest

    steps:

      - id:  calculate-release-version
        run: |
          RELEASE_VERSION="$(date +%Y.%m.%d)"

          printf 'RELEASE_VERSION=%s\n' "$RELEASE_VERSION" >> "$GITHUB_OUTPUT"

    outputs:
      release-version: ${{ steps.calculate-release-version.outputs.RELEASE_VERSION }}


  macos:
    needs: base

    runs-on: macos-14

    strategy:
      fail-fast: false
      matrix:
        target-version: ['10.15', '11.0', '12.0', '13.0', '14.0', '15.0']
        target-arch: [x86_64, arm64]

    steps:
      - uses: actions/checkout@v4

      - run: curl -LO https://raw.githubusercontent.com/leleliu008/ppkg/master/ppkg
      - run: chmod a+x ppkg

      - run: ./ppkg setup
      - run: ./ppkg update
      - run: ./ppkg install macos-${{ matrix.target-version }}-${{ matrix.target-arch }}/uppm@0.15.4
      - run: ./ppkg bundle  macos-${{ matrix.target-version }}-${{ matrix.target-arch }}/uppm@0.15.4 .tar.xz

      - run: rm check-if-has-dynamic-section.c

      - run: |
          set -ex

          CC="$(xcrun --sdk macosx --find clang)"
          SYSROOT="$(xcrun --sdk macosx --show-sdk-path)"
          CFLAGS="-isysroot $SYSROOT -mmacosx-version-min=${{ matrix.target-version }} -arch ${{ matrix.target-arch }} -Qunused-arguments"

          for f in *.c
          do
            o="${f%.c}.exe"
            $CC $CFLAGS -std=c99 -Os -flto -o "$o" "$f"
            strip "$o"
          done

      - run: ./pack-ndk-pkg-core ${{ needs.base.outputs.release-version }} macos-${{ matrix.target-version }}-${{ matrix.target-arch }}

      - uses: actions/upload-artifact@v4
        with:
          name: ndk-pkg-core-${{ needs.base.outputs.release-version }}-macos-${{ matrix.target-version }}-${{ matrix.target-arch }}.tar.xz
          path: ndk-pkg-core-${{ needs.base.outputs.release-version }}-macos-${{ matrix.target-version }}-${{ matrix.target-arch }}.tar.xz


  linux:
    needs: base

    runs-on: ubuntu-latest
    container: alpine

    steps:
      - uses: actions/checkout@v4

      - run: apk update
      - run: apk add curl tar xz g++ linux-headers

      - run: wget https://raw.githubusercontent.com/leleliu008/ppkg/master/ppkg
      - run: chmod a+x ppkg

      - run: ./ppkg setup
      - run: ./ppkg update
      - run: ./ppkg install uppm@0.15.4 --static
      - run: ./ppkg bundle  uppm@0.15.4 .tar.xz

      - run: |
          set -ex
          for f in *.c
          do
            gcc -std=gnu99 -Os -flto -s -static -o "${f%.c}.exe" "$f"
          done

      - run: ./pack-ndk-pkg-core ${{ needs.base.outputs.release-version }} linux-x86_64

      - uses: actions/upload-artifact@v4
        with:
          name: ndk-pkg-core-${{ needs.base.outputs.release-version }}-linux-x86_64.tar.xz
          path: ndk-pkg-core-${{ needs.base.outputs.release-version }}-linux-x86_64.tar.xz


  android:
    needs: base

    runs-on: ubuntu-latest

    container: ubuntu:24.04

    strategy:
      fail-fast: false
      matrix:
        target-version: [35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21]

    steps:
      - uses: actions/checkout@v4

      - run: |
          cat > ndk-pkg-core.yml <<EOF
          summary: xx
          web-url: xx
          install: |
            run cd "$PWD"

            for f in *.c
            do
                OUTFILE="\${f%.c}.exe"
                run "\$CC" "\$CFLAGS" "\$CPPFLAGS" "\$LDFLAGS" -std=c99 -Oz -flto -Wl,-s -static -o "\$OUTFILE" "\$f"
                install_bins "\$OUTFILE"
            done
          EOF

      - run: apt -y update
      - run: apt -y install curl tar gzip xz-utils

      - run: ./ndk-pkg setup
      - run: ./ndk-pkg update

      - run: ./ndk-pkg install android-${{ matrix.target-version }}-arm64-v8a/uppm@0.15.4
      - run: ./ndk-pkg install android-${{ matrix.target-version }}-arm64-v8a/ndk-pkg-core -I .

      - run: ./ndk-pkg bundle  android-${{ matrix.target-version }}-arm64-v8a/uppm@0.15.4 .tar.xz

      - run: curl -LO https://raw.githubusercontent.com/adobe-fonts/source-code-pro/release/OTF/SourceCodePro-Light.otf

      - run: ls

      - run: ./pack-ndk-pkg-core ${{ needs.base.outputs.release-version }} android-${{ matrix.target-version }}-arm64-v8a

      - uses: actions/upload-artifact@v4
        with:
          name: ndk-pkg-core-${{ needs.base.outputs.release-version }}-android-${{ matrix.target-version }}-arm64-v8a.tar.xz
          path: ndk-pkg-core-${{ needs.base.outputs.release-version }}-android-${{ matrix.target-version }}-arm64-v8a.tar.xz


  publish:

    needs: [base, macos, linux, android]

    runs-on: ubuntu-latest

    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: '*'
          path: .
          merge-multiple: true

      - run: ls -a

      # to avaid: failed to run git: fatal: not a git repository (or any of the parent directories): .git
      - run: git -c init.defaultBranch=master init
      - run: git remote add origin ${{ github.repositoryUrl }}

      - run: |
          cat > notes.md <<EOF
          sha256sum:

          \`\`\`
          $(sha256sum ndk-pkg-core-*.tar.xz)
          \`\`\`
          EOF

      - run: gh release create ndk-pkg-core-${{ needs.base.outputs.release-version }} ndk-pkg-core-*.tar.xz --title ndk-pkg-core-${{ needs.base.outputs.release-version }} --notes-file notes.md
